# Data Wrangling -- Shark Attacks

## 1. Import all necessary data and tools

In [1]:
import pandas as pd
import numpy as np
import regex as re

In [2]:
shark_attacks = pd.read_csv('GSAF5.csv', engine = 'python')

## 2. Understand the dataset

In [3]:
#Take a first peak at the data set
shark_attacks.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [4]:
#Look at column names
shark_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
#Look at shape of data (rows & columns)
shark_attacks.shape

(5992, 24)

In [6]:
#Look at number of entries
shark_attacks.size

143808

## 3. Data Wrangling and findings

### 3.1 Drop columns with high percentages of missing values

In [7]:
#Look at missing values
shark_attacks.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [8]:
#Find out where missing values occur and sort
shark_attacks.isna().sum().sort_values(ascending = False)

Unnamed: 22               5991
Unnamed: 23               5990
Time                      3213
Species                   2934
Age                       2681
Sex                        567
Activity                   527
Location                   496
Area                       402
Name                       200
Country                     43
Injury                      27
Fatal (Y/N)                 19
Investigator or Source      15
href                         3
href formula                 1
pdf                          0
Case Number.1                0
Case Number.2                0
original order               0
Type                         0
Year                         0
Date                         0
Case Number                  0
dtype: int64

In [9]:
#Store missing values in a variable
missing_values = shark_attacks.isna().sum().sort_values(ascending = False)

In [10]:
#Access missing values only 
missing_values.loc[missing_values.gt(0)]

Unnamed: 22               5991
Unnamed: 23               5990
Time                      3213
Species                   2934
Age                       2681
Sex                        567
Activity                   527
Location                   496
Area                       402
Name                       200
Country                     43
Injury                      27
Fatal (Y/N)                 19
Investigator or Source      15
href                         3
href formula                 1
dtype: int64

In [11]:
#Find out percentage of missing values per relevant column 
missing_values.loc[missing_values.gt(0)]/len(shark_attacks)

Unnamed: 22               0.999833
Unnamed: 23               0.999666
Time                      0.536215
Species                   0.489653
Age                       0.447430
Sex                       0.094626
Activity                  0.087951
Location                  0.082777
Area                      0.067089
Name                      0.033378
Country                   0.007176
Injury                    0.004506
Fatal (Y/N)               0.003171
Investigator or Source    0.002503
href                      0.000501
href formula              0.000167
dtype: float64

In [12]:
#Store ratios in a variable
missing_values_ratios = missing_values.loc[missing_values.gt(0)]/len(shark_attacks)

In [13]:
#Identify all columns with percentages over 60%, since it is assumed that they are not relevant
missing_values_ratios.loc[missing_values_ratios.gt(0.6)].index

Index(['Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [14]:
#Drop columns with ratios over 60%, create a copy and store it in variable
shark_attacks_copy = shark_attacks.drop(columns=missing_values_ratios.loc[missing_values_ratios.gt(0.6)].index).copy()

In [15]:
#Check the result
shark_attacks_copy.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984

### 3.2 Analyze remaining columns with next highest missing values

### 3.2.1 Analyze order of remaining colums with high missing values

In [16]:
#Find out where missing values still occur and sort them
shark_attacks_copy.isna().sum()[shark_attacks_copy.isna().sum() > 0].sort_values(ascending = False)

Time                      3213
Species                   2934
Age                       2681
Sex                        567
Activity                   527
Location                   496
Area                       402
Name                       200
Country                     43
Injury                      27
Fatal (Y/N)                 19
Investigator or Source      15
href                         3
href formula                 1
dtype: int64

In [17]:
#Store missing values in a variable
missing_values_2 = shark_attacks_copy.isna().sum()[shark_attacks_copy.isna().sum() > 0].sort_values(ascending = False)

### 3.2.2 Analyze column 'Time'

### 3.2.2.1 Anayze column by itself

In [18]:
#Identify data types
shark_attacks_copy['Time'].dtypes

dtype('O')

In [19]:
#Identify values that are not null 
shark_attacks_copy[shark_attacks_copy['Time'].notnull()]['Time']

0                13h00
1                11h00
2                10h43
6                15h15
7                14h30
             ...
5931         Afternoon
5932         Afternoon
5933         Afternoon
5949    Late afternoon
5955         Afternoon
Name: Time, Length: 2779, dtype: object

In [20]:
#Group time of incidents, sort and display
shark_attacks_copy['time_count'] = 1
shark_attacks_copy.groupby(['Time']).count()['time_count'].sort_values(ascending = False).head(50)

Time
Afternoon         174
11h00             123
Morning           107
12h00             107
15h00             100
16h00              94
14h00              93
16h30              72
13h00              71
14h30              70
17h30              69
17h00              64
15h30              62
18h00              62
11h30              60
Night              58
13h30              56
10h00              53
09h00              46
10h30              45
12h30              33
Evening            33
Late afternoon     32
09h30              30
07h30              30
08h00              28
18h30              27
08h30              25
19h00              23
07h00              20
17h15              18
14h45              17
13h20              16
16h45              16
15h45              16
Dusk               15
11h15              14
11h45              14
08h45              13
20h00              13
15h15              12
A.M.               12
P.M.               12
20h30              12
09h45              12
10h15              12
10h45              12
19h30              11
Early morning      11
06h00              11
Name: time_count, dtype: int64

In [21]:
#Look at values equal or greater than 50 and assign time
shark_attacks_copy.loc[shark_attacks_copy['Time'] == 'Night'] = "22h00"
shark_attacks_copy.loc[shark_attacks_copy['Time'] == 'Afternoon'] = "15h00"
shark_attacks_copy.loc[shark_attacks_copy['Time'] == 'Morning'] = "09h00"

In [22]:
# Sort by time and store it back 
shark_attacks_copy['shark_time'] = 1

#Only the most common time categories are listed. The list does not cover the entire period of 24hr.

shark_attacks_copy.loc[shark_attacks_copy['Time'] >= '09h00', 'shark_time'] = "Morning"
shark_attacks_copy.loc[shark_attacks_copy['Time'] >= '12h00','shark_time'] = "Midday"
shark_attacks_copy.loc[shark_attacks_copy['Time'] >= '15h00', 'shark_time'] = "Afternoon"
shark_attacks_copy.loc[shark_attacks_copy['Time'] >= '22h00', 'shark_time'] = "Evening"

In [23]:
shark_attacks_copy.groupby(['shark_time']).count()['time_count'].sort_values(ascending = False).head(50)

shark_time
1            3459
Afternoon    1018
Morning       632
Midday        615
Evening       268
Name: time_count, dtype: int64

In [24]:
#Finding 1: Most shark attacks seem to occur in the afternoon, followed by the morning and midday.
#Note: For further certainty the '1' values would need to be examined.

### 3.2.2.2 Anayze relation with column 'Date'

In [25]:
#Rename column with special characters 
shark_attacks_copy.columns = (shark_attacks_copy.columns
                                    .str.replace(' ','_')
                                    .str.replace('(','')
                                    .str.replace(')','')
                                    .str.replace('/','_'))

In [26]:
shark_attacks_copy.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_Y_N', 'Time',
       'Species_', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order', 'time_count',
       'shark_time'],
      dtype='object')

In [27]:
#Investigate missing values in "Time" column 
relevant_columns = ["Time", "Date", "Fatal_Y_N","Investigator_or_Source"]
check_time = shark_attacks_copy.loc[shark_attacks_copy["Time"].isna(), relevant_columns].head(30)

check_time.head(10)

   Time       Date Fatal_Y_N      Investigator_or_Source
3   NaN  17-Sep-16         N          The Age, 9/18/2016
4   NaN  16-Sep-16         N          The Age, 9/16/2016
5   NaN  15-Sep-16         N  West Australian, 9/15/2016
11  NaN  04-Sep-16         N  Orlando Sentinel, 9/7/2016
12  NaN  01-Sep-16         N            R. Collier, GSAF
17  NaN  07-Aug-16         N              ABC, 8/11/2016
18  NaN  06-Aug-16         N               SUP, 8/9/2015
19  NaN  04-Aug-16         N          News 965, 8/5/2016
21  NaN  28-Jul-16         N         Klassick, 7/28/2016
22  NaN  28-Jul-16         N    ABC Australia, 7/28/2016

In [28]:
#Find out the minimum date
check_time.Date.min()

'01-Sep-16'

In [29]:
#Find out the maximum date
check_time.Date.max()

'Reported 08-Jul-2016'

In [30]:
#Finding 2: Between 01 Sept and 08 Jul 2016 the exact time was not recorded.

### 3.2.2.3 Anayze relation with column 'Fatal_Y_N'

In [31]:
#Check column 'Fatal_Y_N' in relation to unrecorded time and store it in a variable
fatility = check_time['Fatal_Y_N'].sort_values()
fatility = fatility.reset_index()
fatility

    index Fatal_Y_N
0       3         N
1      78         N
2      75         N
3      74         N
4      73         N
5      71         N
6      70         N
7      47         N
8      43         N
9      37         N
10     35         N
11     34         N
12     33         N
13     80         N
14     32         N
15     27         N
16     26         N
17     23         N
18     22         N
19     21         N
20     19         N
21     18         N
22     17         N
23     12         N
24     11         N
25      5         N
26      4         N
27     29         N
28     86         N
29     54       NaN

In [32]:
#Finding 3: The hypothesis cannot be confirmed that the time of incidents was predominantly not recorded in case of fatilities.

### 3.2.2.4 Anayze relation with column 'Investigator_or_Source'

In [33]:
#Check column 'Investigator_or_Source' in relation to unrecorded time and store it in a variable
investigator_source = check_time['Investigator_or_Source'].sort_values()
investigator_source = investigator_source.reset_index()
investigator_source

    index             Investigator_or_Source
0      22           ABC Australia, 7/28/2016
1      17                     ABC, 8/11/2016
2      29                  Al.com, 7/19/2016
3      26                     C. Black, GSAF
4      32                  C. Creswell, GSAF
5      78                  Fox 35, 3/30/2015
6      54      Gold Coast Bulletin, 6/4/2016
7      33                 GrindTV, 7/14/2016
8      27                    KWTX, 7/23/2016
9      21                Klassick, 7/28/2016
10     73                         L.O.Guttke
11     34             La Opinion de Tenerife
12     86           Misones Online, 3/4/2016
13     43                 News 24, 6/23/2016
14     19                 News 965, 8/5/2016
15     11         Orlando Sentinel, 9/7/2016
16     71         Palm Beach Post, 4/13/2016
17     47               Perth Now, 6/16/2016
18     12                   R. Collier, GSAF
19     35                   R. Collier, GSAF
20     37                   R. Collier, GSAF
21     18                      SUP, 8/9/2015
22     70            Tahiti Infos, 4/19/2016
23     23         Tampa Bay Times, 7/27/2016
24      4                 The Age, 9/16/2016
25      3                 The Age, 9/18/2016
26      5         West Australian, 9/15/2016
27     80  Wisconsin State Journal, 4/2/2016
28     75                            YouTube
29     74                                NaN

In [34]:
#Clean column Investigator_or_Source 

investigator_source['source_type'] = (investigator_source['Investigator_or_Source']
                                        .str.replace('.','_')
                                        .str.replace(' ','_')
                                        .str.lower()
                                        .str.strip()
                                        .str.extract('([a-zA-Z]+)')
                                        )

In [35]:
investigator_source

    index             Investigator_or_Source source_type
0      22           ABC Australia, 7/28/2016         abc
1      17                     ABC, 8/11/2016         abc
2      29                  Al.com, 7/19/2016          al
3      26                     C. Black, GSAF           c
4      32                  C. Creswell, GSAF           c
5      78                  Fox 35, 3/30/2015         fox
6      54      Gold Coast Bulletin, 6/4/2016        gold
7      33                 GrindTV, 7/14/2016     grindtv
8      27                    KWTX, 7/23/2016        kwtx
9      21                Klassick, 7/28/2016    klassick
10     73                         L.O.Guttke           l
11     34             La Opinion de Tenerife          la
12     86           Misones Online, 3/4/2016     misones
13     43                 News 24, 6/23/2016        news
14     19                 News 965, 8/5/2016        news
15     11         Orlando Sentinel, 9/7/2016     orlando
16     71         Palm Beach Post, 4/13/2016        palm
17     47               Perth Now, 6/16/2016       perth
18     12                   R. Collier, GSAF           r
19     35                   R. Collier, GSAF           r
20     37                   R. Collier, GSAF           r
21     18                      SUP, 8/9/2015         sup
22     70            Tahiti Infos, 4/19/2016      tahiti
23     23         Tampa Bay Times, 7/27/2016       tampa
24      4                 The Age, 9/16/2016         the
25      3                 The Age, 9/18/2016         the
26      5         West Australian, 9/15/2016        west
27     80  Wisconsin State Journal, 4/2/2016   wisconsin
28     75                            YouTube     youtube
29     74                                NaN         NaN

In [36]:
investigator_source['count'] = 1
investigator_source.groupby(['source_type']).count()['count'].sort_values(ascending = False)

source_type
r            3
news         2
c            2
abc          2
the          2
tampa        1
l            1
al           1
west         1
fox          1
gold         1
grindtv      1
klassick     1
kwtx         1
la           1
tahiti       1
misones      1
wisconsin    1
orlando      1
palm         1
perth        1
sup          1
youtube      1
Name: count, dtype: int64

In [37]:
#Finding 4: The hypothesis cannot be confirmed that a particularly source or person tends to not record the exact time.